<nav>
  {%- assign page_url = page.url | replace: "index.md", "" -%}
  
  {%- for item in include.menu -%}
    {%- assign node = site.pages | where_exp: "page", "page.name == item.file" | first -%}
    {%- assign url = item.url | default: node.url | default: "#" -%}
    {%- assign title = item.title | default: node.title | default: "Untitled" -%}
    {%- assign nav_url = url | replace: "index.md", "" -%}

    <a href="{{ url | relative_url }}" {% if nav_url == page_url %}class="selected"{% endif %}>
      {%- if item.icon -%}
        <svg aria-label="{{ title }}" class="icon">
          <use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ item.icon }}"></use>
        </svg>
      {%- else -%}
        {{ title }}
      {%- endif -%}
    </a>
  {%- endfor -%}
</nav>
